/* SECTION - Sidebar list and create speech container styling*/
.SidebarListContainer{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.CreateSpeechContainer{
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    & > p{
        background-color: green;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px 0 0 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    & > input{
        height: 95%;
        border: none;
        border-radius: 0 5px 5px 0;
    }
}
/* SECTION - Content styling */
.IndList{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    & > p{
        border-radius: 10px;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
        background-color: rgb(128, 128, 128, .5);
        transition: all 0.2s ease;
        cursor: pointer;
        &:hover{
            background-color: rgb(128, 128, 128, .7);
        }
    }
    & > a{
        text-decoration: none;
        color: black;
        padding: 10px;
        border-radius: 10px;
        transition: all 0.2s ease;
        &:hover{
            background-color: red;
            color: white;
            cursor: pointer;
        }
    }
}
.SidebarListContainer > h2{
    cursor: pointer;
    background-color: lightgreen;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
}
